

#pricing_table_product_data {
	padding: 15px 20px;
	table {
		display: block;
		width: 100%;
		overflow-x: auto;
		border-collapse: collapse;
		border: 1px solid lightgrey;
		tr, th, td {
			border: 1px solid lightgrey;
		}
		th, td {
			padding: 5px 10px;
		}
		td.table-label {
			min-width: 150px;
		}
		label {
			float: none;
			width: 100%;
			display: block;
			margin: 0;
			input[type="text"],
			input[type="number"] {
				display: block;
				float: none;
				width: 100%;
				min-width: 100px;
			}
		}
	}
}